<template>
  <div class="dashboard-container">
    <el-input placeholder="Search" v-model="filterText" style="margin-bottom:30px;"></el-input>
    <div class="row">
  <div class="column">
    <img src="https://js.devexpress.com/Content/images/doc/17_1/ChartJS/CircularGaugeElementMap.png" alt="Forest" style="width:100%">
  </div>
  <div class="column">
    <img src="https://js.devexpress.com/Content/images/doc/17_1/ChartJS/CircularGaugeElementMap.png" alt="Mountains" style="width:100%">
  </div>
   <div class="column">
    <img src="https://js.devexpress.com/Content/images/doc/17_1/ChartJS/CircularGaugeElementMap.png" alt="Mountains" style="width:100%">
  </div>
</div>
    <div class="dashboard-text"><span v-for='role in roles' :key='role'></span></div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'dashboard',
  computed: {
    ...mapGetters([
      'name',
      'roles'
    ])
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
