<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

</head>

<body>
  <div id="app">
    <v-app id="inspire">
      <v-navigation-drawer v-model="drawer " absolute temporary>
      </v-navigation-drawer>
      <v-app-bar app color="blue darken-3" dark>
        <v-toolbar-title style="width: 200px">
          <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
          <span >ASA</span>
        </v-toolbar-title>

        <form style="width: 90%; align-self: left;">
            <v-text-field style="width: calc(100% - 100px); float: left;"  id="q" name="q" type="text" placeholder="" flat solo-inverted hide-details icon
              label="Search" />
            </v-text-field>
            <v-btn style="float: left;"  type="submit" onclick="" icon name="search_button">
              <v-icon>mdi-magnify</v-icon>
            </v-btn>
        </form>
       
        <v-spacer></v-spacer>
      </v-app-bar>
     
      <v-content >
        <div id="top" style="padding: 5px;">
          Total Results: [[ TotalResults ]]
          <v-chip class="ma-2" v-for="item in chipinfo" outlined @click="Switch(item.type)">
            <div v-if="item.enabled">
              <v-avatar left class="green white--text">
                [[ item.count ]]
              </v-avatar>
              [[ item.type ]]
            </div>
            <div v-else>
              <v-avatar left class="red darken-3 white--text">
                [[ item.count ]]
              </v-avatar>
              [[ item.type ]]
            </div>
          </v-chip>
        </div>
        <v-container class="board" fluid>
          <v-layout id="cool" class="noneselected" v-for="item in all">
            <!-- //Accounts -->
            <v-card v-if="showAccount && item.type == 'Account'" width="350" class="mx-auto">
              <v-list-item>
                <v-list-item-avatar color="blue"><v-icon dark>mdi-account-circle</v-icon></v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title class="headline">[[item.amount]]</v-list-item-title>
                  <v-list-item-title >[[item.code]]</v-list-item-title>
                  <v-list-item-subtitle>ACCOUNT</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-card-text>
                Portfolio:
                <v-chip>
                  [[item.portfolio]]
                </v-chip>
              </v-card-text>
       
            </v-card>
            <!-- //AssetTypes -->
            <v-card v-else-if="showAssetType && item.type == 'AssetType'"  width="350" class="mx-auto">
              <v-list-item>
                <v-list-item-avatar color="blue"><v-icon dark>mdi-cash-usd-outline</v-icon></v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title class="headline">[[item.name]]</v-list-item-title>
                  <v-list-item-title >[[item.code]]</v-list-item-title>
                  <v-list-item-subtitle>ASSET TYPE</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            
      
            </v-card>
            <!-- //Portfolios -->
           
            <v-card v-else-if="showPortfolio && item.type == 'Portfolio'" width="350" class="mx-auto">
              <v-list-item>
                <v-list-item-avatar tile color="green"><v-icon dark>mdi-account-box-multiple</v-icon></v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title class="headline">[[ item.name ]]</v-list-item-title>
                  <v-list-item-subtitle>PORTFOLIO</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-card>
           
            <!-- //Transactions -->
            <v-card v-else-if="showTransaction && item.type == 'Transaction'" width="350" class="mx-auto">
              <v-list-item>
                <v-list-item-avatar ><v-icon >mdi-arrow-right</v-icon></v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title class="headline red--text"  v-if="!item.io">[[item.amount]] [[item.assetname]]</v-list-item-title>
                  <v-list-item-title class="headline green--text" v-else>[[item.amount]] [[item.assetname]]</v-list-item-title>
                  <v-list-item-subtitle> Date: <strong> [[item.currentDate]] </strong></v-list-item-subtitle>
                  <v-list-item-subtitle>TRANSACTION</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
            </v-card>
            <!-- //Persons -->
            <v-card v-else-if="showPerson && item.type == 'Person'" width="350" class="mx-auto">
              <v-list-item>
                <v-list-item-avatar>
                  <img src="https://randomuser.me/api/portraits/men/81.jpg">
                </v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title class="headline">[[item.name]]</v-list-item-title>
                  <v-list-item-subtitle>DOB: [[item.dob]]</v-list-item-subtitle>
                  <v-list-item-subtitle>PERSON</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-card-text>
                <div>Portfolios:</div>
                <v-slide-group multiple show-arrows>
                  <v-slide-item v-for="n in item.portfolios" >
                    <v-chip>
                      [[n.name]]
                    </v-chip>
                  </v-slide-item>
                </v-slide-group>
              </v-card-text>
             
              
            </v-card>
            <!-- //Companys -->
            <v-card v-else-if="showCompany && item.type == 'Company'" width="350" class="mx-auto">
              <v-list-item>
                <v-list-item-avatar tile color="orange"> <v-icon dark>mdi-domain</v-icon></v-list-item-avatar>
                <v-list-item-content>
                  <v-list-item-title class="headline">[[item.name]]</v-list-item-title>
                  <v-list-item-title >[[item.phone_no]]</v-list-item-title>
                  <v-list-item-subtitle>COMPANY</v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>
              <v-card-text>
                [[item.address]]
                Employees:
                <v-slide-group multiple show-arrows>
                  <v-slide-item v-for="n in item.people">
                    <v-chip>
                      [[n.name]]
                    </v-chip>
                  </v-slide-item>
                </v-slide-group>
              </v-card-text>
            </v-card>
          </v-layout>
          <v-layout class="board">
          <v-card width="350"  v-for="item in computedresults" class="mx-auto" v-if="computedresults && showAssetHistory">
            <v-sheet class="v-sheet--offset mx-auto" color="cyan" elevation="3" >
              <v-sparkline :value="item.rates" :labels="item.dates" color="white" line-width="2" padding="25">
              </v-sparkline>
            </v-sheet>
            <v-card-text class="pt-0">
              <div class="title font-weight-light mb-2"> <strong>[[ item.from ]]</strong> to <strong>[[ item.to ]]</strong>
              </div>
              <div class="subheading font-weight-light grey--text">ASSET PRICE HISTORY</div>
            </v-card-text>
          </v-card>
        </v-layout>
        </v-container>
      </v-content>
    </v-app>
  </div>

  <script>
    var app = new Vue({
      // components: {
      //   'example': example
      // },
      delimiters: ['[[', ']]'],
      vuetify: new Vuetify(),
      computed: {
        // a computed getter
        
      },
      created: function(){
        this.say({{hits | safe}})
        for (var i = 0; i < this.graphresults.length; i++) {
            var e = this.graphresults[i].value;
            var dates1 = []
            var rates1 = []
            for (var j = 0; j < e.length; j++) {
              if (j == 0 || j == e.length - 1 || j == Math.floor(e.length/2)) {
                dates1.push(e[j][3]);
              }
              else {
                dates1.push(" ");
              }
              rates1.push(e[j][2]);
            }
            this.computedresults.push({
              dates: dates1.reverse(),
              rates: rates1.reverse(),
              to: e[0][0],
              from: e[0][1]
            })
          }
          console.log(this.dates)
          console.log(this.rates)
      },
     
      el: '#app',
      data: {
        drawer: null,
        graphresults: [],
        computedresults: [],
        chipinfo: [
                {count: 0, type: 'Accounts', enabled: true},
                {count: 0, type: 'Asset Types', enabled: true},
                {count: 0, type: 'Portfolios', enabled: true},
                {count: 0, type: 'Transactions', enabled: true},
                {count: 0, type: 'People', enabled: true},
                {count: 0, type: 'Companies', enabled: true},
                {count: 0, type: 'Asset Histories', enabled: true},
              ],
        TotalResults: 0,
        all:[],
            showAccount: true,
            showAssetType: true,
            showPortfolio: true,
            showTransaction: true,
            showPerson: true,
            showCompany: true,
            showAssetHistory: true
          },
      methods: {
        Switch(e) {
          console.log(e)
          switch (e) {
            case "Accounts":
              this.showAccount=!this.showAccount;
              this.chipinfo[0].enabled = !this.chipinfo[0].enabled;
              break;
            case "Asset Types":
              this.showAssetType=!this.showAssetType;
              this.chipinfo[1].enabled = !this.chipinfo[1].enabled;
              break;
            case "Portfolios":
              this.showPortfolio=!this.showPortfolio;
              this.chipinfo[2].enabled = !this.chipinfo[2].enabled;
              break;
            case "Transactions":
              this.showTransaction=!this.showTransaction;
              this.chipinfo[3].enabled = !this.chipinfo[3].enabled;
              break;
            case "People":
              this.showPerson=!this.showPerson;
              this.chipinfo[4].enabled = !this.chipinfo[4].enabled;
              break;
            case "Companies":
              this.showCompany=!this.showCompany;
              this.chipinfo[5].enabled = !this.chipinfo[5].enabled;
              break;
            case "Asset Histories":
              this.showAssetHistory=!this.showAssetHistory;
              this.chipinfo[6].enabled = !this.chipinfo[6].enabled;
              break;
            default:
            // code block
          }
        
        },
        say: function (data) {
          if(data == null) return;
          this.TotalResults = Object.keys(data).length;
          if(this.TotalResults == 0) return;
          let vm = this;
 
          for (var key in data) {
            if (data[key.toString()]._id.toString().includes("account")) {
              this.chipinfo[0].count = this.chipinfo[0].count+1
              MakeAccount(key);
            }

            if (data[key.toString()]._id.toString().includes("type")) {
              this.chipinfo[1].count= this.chipinfo[1].count+1
              MakeAssetType(key);
            }

            if (data[key.toString()]._id.toString().includes("portfolio")) {
              this.chipinfo[2].count= this.chipinfo[2].count+1
              MakePortfolio(key);
            }

            if (data[key.toString()]._id.toString().includes("transaction")) {
              this.chipinfo[3].count= this.chipinfo[3].count+1
              MakeTransaction(key);
            }

            if (data[key.toString()]._id.toString().includes("person")) {
              this.chipinfo[4].count= this.chipinfo[4].count+1
              MakePerson(key);
            }

            if (data[key.toString()]._id.toString().includes("company")) {
              this.chipinfo[5].count= this.chipinfo[5].count+1
              MakeCompany(key);
            }

            if (data[key.toString()]._id.toString().includes("asset_price_history")) {
              this.chipinfo[6].count= this.chipinfo[6].count+1
              var comb = data[key.toString()]._source.asset_from.name + data[key.toString()]._source.asset_to.name;
              
              var index =  this.graphresults.findIndex(x => x.key==comb)

              if(index==-1){
                var newg = {
                  key: comb,
                  value: [[data[key.toString()]._source.asset_from.name,data[key.toString()]._source.asset_to.name,data[key.toString()]._source.rate,data[key.toString()]._source.date]]
                }
                this.graphresults.push(newg);
              }
              else{
                this.graphresults[index].value.push([data[key.toString()]._source.asset_from.name,data[key.toString()]._source.asset_to.name,data[key.toString()]._source.rate,data[key.toString()]._source.date])
              }
            }
          
          }

          function MakeAccount(key) {
            console.log(data[key.toString()])
            vm.all.push({
              assetname: data[key.toString()]._source.asset.name,
              amount: data[key.toString()]._source.amount,
              portfolio: data[key.toString()]._source.portfolio.name,
              type:"Account"
            })
          }

          function MakeAssetType(key) {
            console.log(data[key.toString()])
            vm.all.push({
              name: data[key.toString()]._source.name,
              code: data[key.toString()]._source.code,
              type:"AssetType"
            })
          }

          function MakePortfolio(key) {
            console.log(data[key.toString()])
            vm.all.push({
              name: data[key.toString()]._source.name,
              type:"Portfolio"
            })
          }

          function MakeTransaction(key) {
            console.log(data[key.toString()])
            var io = true; //true = positive
            var amount = data[key.toString()]._source.amount;
            if(Math.sign(amount) == -1){
              io = false;
              amount = Math.abs(amount)
            }
            vm.all.push({
              currentDate: new Date(data[key.toString()]._source.time).toLocaleDateString("en-US"),
              assetname: data[key.toString()]._source.account.asset.name,
              io: io,
              amount: amount,
              portfolio: data[key.toString()]._source.account.portfolio.name,
              type:"Transaction"
            })
          }

          function MakePerson(key) {
            console.log(data[key.toString()])
            vm.all.push({
            name: data[key.toString()]._source.name,
            dob: new Date(data[key.toString()]._source.dob).toLocaleDateString("en-US"),
            portfolios: data[key.toString()]._source.portfolios,
            type:"Person"
            })
          }

          function MakeCompany(key) {
            console.log(data[key.toString()])
            vm.all.push({
            name: data[key.toString()]._source.name,
            address: data[key.toString()]._source.address,
            phone_no: data[key.toString()]._source.phone_no,
            people: data[key.toString()]._source.people,
            type:"Company"
            })
          }

          
        }
      }
    });

  </script>


  </div>

</body>
<style>
  .board {
    padding-top: 30px;
    margin: 0 auto 30px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    grid-gap: 3px;
  }
  .noneselected:empty{
    display: none;
  }
</style>
