{% load render_bundle from webpack_loader %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django vue</title>
</head>
<body>
    <div id="app">
        <sample></sample>
    </div>
    {% render_bundle 'main' %}
</body>
</html>